<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Api Wars</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/main.js" defer></script>
</head>
<body>
    <br>
    <section id="header"><button id="reg_button"><a class="reg_butt_link" href="/registration">Registration</a></button>
    <button id="sign_in"><a class="reg_butt_link" href="/login">Sign In</a></button>
    <button id="sign_out"><a class="reg_butt_link" href="/signout">Sign Out</a></button><p id="logged_in">You are logged in as: </p>

    </section>
        <br>
<section id="title">
    <h1>Star Wars universe planets</h1>
    <br>
    <br>
    <button id="previous_button">Previous</button><button id="next_button">Next</button>
</section>
    <br>

</body>
</html>